{% extends 'base.html' %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}Регистрация{% endblock %}

{% block main %}
<main>
  <div class="mx-auto text-center">
    {% if user.is_authenticated %}
    <h1 class="h3 mb-3 font-weight-normal">Вы уже зарегистрированы.</h1>
    <a href="{% url 'logout' %}">Выйти?</a>
    {% else %}
    <form action="" method="post" class="mb-3">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста заполните форму регистрации</h1>
      {% bootstrap_field form.username label_class='sr-only' %}
      {% bootstrap_field form.email label_class='sr-only' %}
      {% bootstrap_field form.password1 label_class='sr-only' %}
      {% bootstrap_field form.password2 label_class='sr-only' %}
      {% bootstrap_button 'Зарегистрироваться' button_type='submit' button_class='btn btn-lg btn-primary btn-block' %}
      <input type="hidden" name="next" value="{{ next }}"> 
    </form>
    <a href="{% url 'login' %}">Войти?</a>
    {% endif %}
  </div>
</main>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="../static/css/registration.css">
{% endblock %}