{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Новости{% endblock %}

{% block caption %}Новости{% endblock %}

{% block content %}
{% for object in object_list %}
<a href="{{ object.get_absolute_url }}" class="list-group-item-action">
  <div class="card border-0 shadow-sm mb-4">
    <div class="card-body">
      <div class="clearfix">
        <div class="card-text h5 float-left">{{ object.title }}</div>
        <div class="card-text float-right"><small class="text-muted">{{ object.update }}</small></div>
      </div>
      <div class="clearfix">
        <div class="card-text float-left">{{ object.description }}</div>
      </div>
    </div>
  </div>
</a>
{% endfor %}
{% if page_obj.paginator.num_pages > 1 %}
{% bootstrap_pagination page_obj %}
{% endif %}
{% endblock %}