{% extends 'base.html' %}
{% load comments %}
{% block title %}Stasian`s help{% endblock %}

{% block caption %}{{ caption }}{% endblock %}

{% block content %}
<div class="card border-0 shadow-sm mb-4">
  <div class="card-body">
    <div class="h5 card-title float-left">Последние новости</div>
    <a href="{% url 'news_list' %}" class="card-link float-right">Смотреть все</a>
  </div>
  <ul class="list-group list-group-flush">
    {% for new in news %}
    <a href="{{ new.get_absolute_url }}" class="list-group-item list-group-item-action">{{ new.pubdate }} - {{ new.title }}</a>
    {% endfor %}
  </ul>
</div>

<div class="card border-0 shadow-sm mb-4">
  <div class="card-body">
    <div class="h5 card-title float-left">Популярные предметы</div>
    <a href="{% url 'subjects_list' %}" class="card-link float-right">Смотреть все</a>
  </div>
  <ul class="list-group list-group-flush">
    {% for subject in popular_subjects %}
    <a href="{{ subject.get_absolute_url }}" class="list-group-item list-group-item-action">{{ subject.name }} - {{ subject.description }}</a>
    {% endfor %}
  </ul>
</div>

<div class="card border-0 shadow-sm mb-4">
  <div class="card-body">
    <div class="h5 card-title float-left">Отзывы</div>
    <!-- <a href="#" class="card-link float-right">Смотреть все</a> -->
  </div>
  <ul class="list-group list-group-flush">
    {% for comment in last_comments %}
    <li class="list-group-item">
      {% if comment.is_removed %}
      Комментарий удалён.
      {% else %}
      <a name="c{{ comment.id }}"></a>
      <div class="text-sm-left"><a class="text-muted" href="{% get_comment_permalink comment %}">#{{ forloop.counter }} / {{ comment.submit_date }} / {{ comment.content_object }}</a></div>
      <a class="card-link h5" href="{% url 'profiles' slug=comment.user %}">{{ comment.user }}</a>
      <div class="card-text">{{ comment.comment }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}